name: CI pipeline
on: 
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
   runs-on: ubuntu-20.04

   steps:
     - name: checkout
       uses: actions/checkout@v6
     - name : install python package
       uses: actions/setup-python@v6 
       with:
         python-version: 'pypy3.10'
     - name: install dependencies
       run: |
        pip install -r requirements.txt
     - name: Build python app
       run : |
         python app.py &
         sleep 5
         curl -f http://localhost:5000
  Doker:
     runs-on: ubuntu-20.0
     needs: build
     steps:
     - name: checkout the code
       uses: actions/checkout@v6
     - name : Login to Docker
       uses: docker/login-action@v3
       with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
     - name : build docker image
       run: |
         doker build -t ${{ vars.DOCKERHUB_USERNAME }}/${{ github.sha }} . 
     - name : Push docker image
       run : |
        docker push ${{ vars.DOCKERHUB_USERNAME }}/${{ github.sha }}

      
      
         
         
     
   
    
